<html>
    <head>
        <title>Nika's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Môj prvý post</a></h2>
            <p>Vitaj na Django Girls! Sme radi, že ťa tu vidíme :) V tomto tutoriále ti ukážeme čo je pod kapotou webových technológií. Ponúkneme ti pohľad na všetky čiastky a kúsky, ktoré musia do seba zapadnúť aby web fungoval tak ako ho poznáme.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Môj druhý post</a></h2>
            <p>Tento návod z teba neurobí programátorku mávnutím čarovného prútika. Ak chceš byť v tom dobrá, čakajú ťa mesiace či dokonca roky štúdia a praxe. Chceme ti ale ukázať, že vytvorenie webovej stránky nie je také ťažké, ako sa zdá. Pokúsime sa ti vysvetliť rôzne technológie tak, aby si sa ich nemusela báť.</p>
        </div>
    </body>
</html>
